@model PizzaBox.Client.Models.OrderViewModel

<form action="/order" method="post">
  @Html.AntiForgeryToken()

  <fieldset>
    <legend>Crusts</legend>

    @Html.ValidationMessageFor(m => m.SelectedCrust)

    @foreach (var item in Model.Crusts)
    {
      <div class="form-check">
        <label class="form-check-label" for="@item">@item</label>
        <input class="form-check-input" type="radio" asp-for="SelectedCrust" value="@item">
        
      </div>
    }
  </fieldset>

  <fieldset>
    <legend>Sizes</legend>

    @Html.ValidationMessageFor(m => m.SelectedSize)

    @foreach (var item in Model.Sizes)
    {
      <div class="form-check">
        <label class="form-check-label" for="@item">@item</label>
        <input class="form-check-input" type="radio" asp-for="SelectedSize" value="@item">
        
      </div>
    }
  </fieldset>

  <fieldset>
    <legend>Toppings</legend>

    @Html.ValidationMessageFor(m => m.SelectedToppings)

    @foreach (var item in Model.Toppings)
    {
      <div class="form-check">
        <label class="form-check-label" for="@item">@item</label>
        <input class="form-check-input" type="checkbox" id="@item" name="selectedtoppings" value="@item">
        
      </div>
    }
  </fieldset>

  <button type="submit">make pizza</button>
</form>
